.gift {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 400px;
    height: 460px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: .4s;
}

.modal .modal_header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 18px;
}

.modal .modal_header button {
    cursor: pointer;
    font-size: 22px;
    color: #21202c;
    background: transparent;
}

.modal .modal_body {
    text-align: center;
    background-image: linear-gradient(0deg, rgba(247, 247, 247 , 1) 24%, rgba(252, 221, 221, 1) 92%);
}

.modal .modal_body img {
    width: 40%;
    margin: 10px 0 30px;
}

.modal .modal_body h2 {
    color: #21202c;
    font-size: 40px;
}

.modal .modal_body button {
    cursor: pointer;
    font-size: 22px;
    color: #ffffff;
    background: #fe425b;
    border-radius: 6px;
    padding: 12px 120px;
    transition:.4s;
    letter-spacing: 1px;
}

.modal.modal_body button:hover {
    background: #e0344b;
}

.modal#hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}

.modal#show {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

#show_button {
    cursor: pointer;
    position: absolute;
    background: linear-gradient(45deg, #ffa5b8, #ffc2cd);
    color: black;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    letter-spacing: .5px;
}

a {
    text-decoration: none;
    color: #fff;
}